<section class="login">
  <div class="login__container">
    <div class="login__container__header">
      <div class="login__container__header__logo">
        <img
          class="login__container__header__logo__img"
          src="./assets/image/survey-logo.png"
          alt="أستبيان المواقع
        الاكترونيةالتابعة لمؤسسات الشيخة جواهر القاسمي"
        />
      </div>
      <h1 class="login__container__header__title">الدخول</h1>
    </div>
    <div class="login__container__body">
      <form
        class="login__container__body__form"
        [formGroup]="loginForm"
        id="loginForm"
      >
        <!--Start User Name section-->
        <div class="form-group">
          <label class="label">أسم المستخدم</label>
          <input class="form-control" formControlName="username" />

          <small
            class="inavlid"
            *ngIf="submitted && loginForm.get('username').hasError('required')"
          >
            {{ validationMsg.username }}</small
          >
        </div>
        <div class="form-group">
          <label class="label">الباسورد</label>
          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
          <small
            class="inavlid"
            *ngIf="submitted && loginForm.get('password').hasError('required')"
          >
            {{ validationMsg.password }}</small
          >

          <small
            class="inavlid"
            *ngIf="submitted && loginForm.get('password').hasError('minlength')"
          >
            {{ validationMsg.passwordMinLength }}</small
          >
        </div>

        <section class="login__container__body__form__submit">
          <app-submit-button
            (isClickedEvent)="submit()"
            [title]="'الدخول'"
            [loading]="loading"
          ></app-submit-button>
        </section>
      </form>
    </div>
  </div>
</section>
