<section class="login">
  <div class="login__container">
    <div class="login__container__header">
      <div class="login__container__header__logo">
        <img
          class="login__container__header__logo__img"
          src="./assets/image/survey-logo.png"
          alt="أستبيان المواقع
        الاكترونيةالتابعة لمؤسسات الشيخة جواهر القاسمي"
        />
      </div>
      <h1 class="login__container__header__title">الدخول</h1>
    </div>
    <div class="login__container__body">
      <form class="login__container__body__form" [formGroup]="loginForm">
        <!--Start User Name section-->
        <div class="form-group">
          <label class="label">أسم المستخدم</label>
          <input class="form-control" formControlName="username" />

          <small
            *ngIf="
              loginForm.get('username').hasError('username') &&
              !loginForm.get('username').hasError('required')
            "
          >
            من فضلك أدخل أسم مستخدم صحيح</small
          >
        </div>
        <div class="form-group">
          <label class="label">الباسورد</label>
          <input
            class="form-control"
            type="password"
            formControlName="password"
          />

          <small
            *ngIf="
              loginForm.get('password').hasError('password') &&
              !loginForm.get('password').hasError('required')
            "
          >
            من فضلك أدخل كلمة المرور</small
          >
        </div>

        <section class="login__container__body__form__submit">
          <app-submit-button
            (isClickedEvent)="submit()"
            [title]="'الدخول'"
            [loading]="loading"
          ></app-submit-button>
        </section>

        <!-- <section class="login__container__body__form__forgetPassword">
          <a [routerLink]="['/auth/forget-password']" class="login__container__body__form__forgetPassword__link">Forget
            Password ?</a>
        </section> -->
      </form>
    </div>
  </div>
</section>
