.example-spacer {
  flex: 1 1 auto;
}
span {
  font-size: inherit;
}
.mat-toolbar {
  font: "Noto Kufi Arabic", sans-serif !important;
  background: #40916c;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.btn {
  color: #fff;
}

.logo {
  height: 50px;
  border-radius: 50%;
}
