<mat-toolbar class="">
  <mat-toolbar-row class="container">
    <img src="./assets/image/survey-logo.png" class="logo" />
    <span class="example-spacer"></span>
    <!-- <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    > -->
    <button class="btn" [routerLink]="['/survey']">الاستبيان</button>
    <button class="btn" (click)="logOut()">الخروج</button>
  </mat-toolbar-row>
</mat-toolbar>
