<mat-toolbar class="">
  <mat-toolbar-row class="container">
    <a [routerLink]="['/dashboard', 'surveys']">
      <img src="./assets/image/survey-logo.png" alt="logo" class="logo" />
    </a>
    <span class="example-spacer"></span>
    <!-- <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    > -->
    <button
      class="btn"
      [routerLink]="['/survey']"
      aria-label="الذهاب إلي صفحة النموذج"
    >
      النموذج
    </button>
    <button class="btn" (click)="logOut()" aria-label="الخروج من الموقع">
      الخروج
    </button>
  </mat-toolbar-row>
</mat-toolbar>
