.surveyDetailWrap {
  margin: 2rem 0rem;
  background: #fff;
  min-height: 100vh;
  width: 100%;
  .header {
    border-bottom: 2px solid #f2f2f2;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem 1rem;
    .back {
      font-size: 20px;
      color: #f9c74f;
      cursor: pointer;
    }
    @media screen and (max-width: 600px) {
      padding: 1rem 1rem;
    }
    .titleContainer {
      flex-grow: 1;
      .title {
        font-weight: bold;
        margin-bottom: 0rem;
        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }
  }

  .body {
    padding: 1rem;
    @media screen and (max-width: 600px) {
      padding: 0px;
    }
    .question {
      padding: 1rem 0.5rem;

      &__title {
        padding: 1rem 0.5rem;
        border-radius: 5px;
        font-weight: bold;
        background: #f1f1f1;
        @media screen and (max-width: 600px) {
          font-size: 10px;
          padding: 0.5rem 0.5rem;
        }
      }
      &__answer {
        padding: 1rem 0.5rem;
        @media screen and (max-width: 600px) {
          font-size: 10px;
        }
      }
    }
  }
}
