<section class="container">
  <section class="surveyDetailWrap">
    <header class="header">
      <div class="titleContainer">
        <h1 class="title">
          تفاصيل النموذج - <strong>({{ survey.id }})</strong>
        </h1>
      </div>

      <div class="back">
        <a (click)="back()">
          <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
        </a>
      </div>
    </header>
    <ng-container>
      <section class="body">
        <ng-container>
          <section class="question">
            <div class="question__title">1- اسم المؤسسة</div>
            <div class="question__answer">{{ survey.organizationName }}</div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">2- رابط الموقع الإلكتروني</div>
            <div class="question__answer">
              <a [href]="survey.webSiteURL">{{ survey.webSiteURL }}</a>
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              3- ما اسم الشركة التي قامت بتطوير الموقع
            </div>
            <div class="question__answer">
              {{ survey.websiteSoftwareCompany }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              4- يرجى ذكر جميع الشركات التي تم التعامل معها لتطوير الموقع
              الالكتروني بالترتيب مع ذكر السنة
            </div>
            <div class="question__answer">
              <div class="row" *ngFor="let company of survey.companies">
                <div class="col-md-4">{{ company.companyName }}</div>
                <div class="col-md-4">{{ company.contractYear }}</div>
                <div class="col-md-4">{{ company.reasonForLeaving }}</div>
              </div>
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              5- ماهو المبلغ الاجمالي لتطوير الموقع مع بيان كل شركة والمبلغ
              المدفوع/ إجمالى رسوم السنة ؟
            </div>
            <div class="question__answer">
              <div
                class="row"
                *ngFor="let company of survey.companyDevelopmentFees"
              >
                <div class="col-md-4">{{ company.companyName }}</div>
                <div class="col-md-4">{{ company.year }}</div>
                <div class="col-md-4">
                  {{ company.paymentAmount }} درهم إماراتي
                </div>
              </div>
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              6- ماهو مبلغ صيانة الموقع مع ذكر السنة ؟
            </div>
            <div class="question__answer">
              <div
                class="row"
                *ngFor="let company of survey.websiteMaintenanceFees"
              >
                <div class="col-md-6">{{ company.paymentYear }}</div>
                <div class="col-md-6">
                  {{ company.totalPaymentAmount }} درهم إماراتي
                </div>
              </div>
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              7- اين موقع الهوست للموقع والبيانات (يرجى ذكر اسم الهوست)؟
            </div>
            <div class="question__answer">
              {{ survey.websiteHostDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              8- هل لديكم نسخة سورس كود من ملف الموقع وقاعدة البيانات؟
            </div>
            <div class="question__answer">
              {{ survey.sourceCodeObtained ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              9- اي لغة برمجية تم استخدامها لتطوير الموقع ؟
            </div>
            <div class="question__answer">
              {{ survey.websiteProgrammingLanguage }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              10- هل يتم دفع مبالغ مالية اخرى للموقع اذا كانت الاجابة (نعم) يرجى
              ذكرها؟
            </div>
            <div class="question__answer">
              {{ survey.hasWebsiteExtraFees ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              يرجى ذكر قيمة المبالغ الاضافية التي يتم دفعها على الموقع الالكترني
              ونوع الخدمة المقدمة
            </div>
            <div class="question__answer">
              {{ survey.websiteExtraFeesDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              يرجى ذكر قيمة المبالغ الاضافية التي يتم دفعها على الموقع الالكترني
              ونوع الخدمة المقدمة
            </div>
            <div class="question__answer">
              {{ survey.websiteExtraFeesDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">11- كم يتم دفع مبلغ Domain name ؟</div>
            <div class="question__answer">
              {{ survey.websiteDomainNameFees }} درهم إماراتي
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              12 -كم عدد الاشخاص الذين يشرفون على محتوى الموقع والخدمات المقدمة؟
            </div>
            <div class="question__answer">
              <div
                class="row"
                *ngFor="let company of survey.websiteSupervisors"
              >
                <div class="col-md-6">{{ company.numberOfSupervisors }}</div>
                <div class="col-md-6">{{ company.supervisorPosition }}</div>
              </div>
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              13- جميع العقود الخاصة بالموقع والصيانة
            </div>
            <div class="question__answer">
              <!-- <div
                class="row"
                *ngFor="let company of survey.websiteSupervisors"
              >
                <div class="col-md-6">{{ company.numberOfSupervisors }}</div>
                <div class="col-md-6">{{ company.supervisorPosition }}</div>
              </div> -->
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              14 -كيف يتم متابعة الخدمات التي تسجل من قبل المجتمع؟
            </div>
            <div class="question__answer">
              {{
                survey.serviceFollowUp === "AUTOMATIC"
                  ? "نظام إلكتروني"
                  : "يدوي"
              }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              اذا كانت الاجابة في السؤال السابق" يدوي" يرجى توضيح الية متابعة
              الخدمات
            </div>
            <div class="question__answer">
              {{ survey.serviceFollowUpDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              اذا كانت الاجابة في السؤال السابق "نظام الكتروني" يرجى ارفاق صورة
              من النظام
            </div>
            <div class="question__answer">
              <!-- {{ survey.serviceFollowUpDetails }} -->
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              15 - هل يوجد في الموقع خدمة للابلاغ عن الشكاوي والمقترحات؟
            </div>
            <div class="question__answer">
              {{ survey.hasComplainFeature ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              اذا كانت الاجابة في السؤال السابق" لا" يرجى توضيح الية متابعة
              الشكاوي والمقترحات؟
            </div>
            <div class="question__answer">
              {{ survey.complainFeatureDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              16- هل يتم تقييم مستوى الخدمة المقدمة للجمهور و قياس رضا
              المتعاملين؟
            </div>
            <div class="question__answer">
              {{ survey.hasCustomerSatisfactionFeature ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              ماهي الخدمات التي يتم تقييمها وما هو الاسلوب المتبع في التقييم؟
            </div>
            <div class="question__answer">
              {{ survey.customerSatisfactionFeatureDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              17 - هل تم تطوير الموقع وفق ارشادات خاصة بافضل الممارسات العالمية
              لتطوير المواقع الالكترونية؟
            </div>
            <div class="question__answer">
              {{ survey.developedUsingLatestStandard ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">يرجى ذكر الارشادات و الممارسات</div>
            <div class="question__answer">
              {{ survey.latestStandardDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              19- هل تفضل وجود ارشادات خاصة بتطوير الموقع الإلكتروني موحد على
              مستوى مؤسسات سمو الشيخة؟
            </div>
            <div class="question__answer">
              {{ survey.preferStandardDevelopmentInstruction ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              20- هل لديك اي اقتراحات خاصة بالارشادات التي يجب اتباعها؟
            </div>
            <div class="question__answer">
              {{ survey.suggestionsToShare ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              اذا كانت الاجابة نعم يرجى ذكر الارشادات
            </div>
            <div class="question__answer">
              {{ survey.suggestionsDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              21 - هل يتم تحديث المحتوى بشكل دوري ؟
            </div>
            <div class="question__answer">
              {{ survey.continuousUpdate ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              22 - هل تملك الجهة حسابات على مواقع التواصل الاجتماعي؟
            </div>
            <div class="question__answer">
              {{ survey.hasSocialMediaAccounts ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              يرجى ادراج منصات التواصل الاجتماعي
            </div>
            <div class="question__answer">
              {{ survey.socialMediaAccountsDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              يرجى ادراج منصات التواصل الاجتماعي
            </div>
            <div class="question__answer">
              {{ survey.hasCustomerAwareness ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              يرجى ادراج منصات التواصل الاجتماعي
            </div>
            <div class="question__answer">
              {{ survey.customerAwarenessDetails }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              24 - هل تقوم المؤسسة بتطبيق آلية حماية لتبادل المعلومات الحساسة
              "مثل استخدام بروتوكولات SSL, TLS, SSH, SFTP وغيرها؟
            </div>
            <div class="question__answer">
              {{ survey.securityProtocolsApplied ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">يرجى ارفاق ادلة</div>
            <div class="question__answer">
              <!-- {{ survey.securityProtocolsApplied ? "نعم" : "لا" }} -->
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">
              25- كيف يتم معالجة المشاكل التقنية الخاصة بالموقع الإلكتروني؟
            </div>
            <div class="question__answer">
              {{ survey.howMaintenanceApplied }}
            </div>
          </section>
        </ng-container>
        <ng-container>
          <section class="question">
            <div class="question__title">
              26 - هل يوجد طريقة لتتبع زوار الموقع ؟
            </div>
            <div class="question__answer">
              {{ survey.hasTrackingFeature ? "نعم" : "لا" }}
            </div>
          </section>
        </ng-container>

        <ng-container>
          <section class="question">
            <div class="question__title">يرجى ذكر الطريقة المستخدمة</div>
            <div class="question__answer">
              {{ survey.trackingFeatureDetails }}
            </div>
          </section>
        </ng-container>
      </section>
    </ng-container>
  </section>
</section>
